@import 'Colors';


#app {
  margin: 0 auto;
  font-weight: normal;
}

body{
  font-family: "Ubuntu Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $medium;
}

