@import 'Colors';


#app {
  font-weight: normal;
  height: 100vh;
}

body{
  font-family: "Ubuntu Condensed", sans-serif;
  display: grid;
  flex-direction: column;
  background-color: $secondary;
  color: $primary;
  margin: 0;
}

